<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        .container{
            display: flex;
            height: 100px;
            background-color: cyan;
            justify-content: space-around;
    
        }
        .div1{
            margin: 5px;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 40px;
        }
        .div1 a{
            text-decoration: none;
            display: flex;
            
        }
    </style>
</head>
<body>
    {% block content %}
    
    {% endblock %}
</body>
</html>